<ion-header>
    <ion-toolbar>
        <ion-title>Create layout</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="width: auto; height: 200px; background-color: aquamarine;">
        <ion-img style="width: auto; height: 200px;" [src]="imageUrl"></ion-img>
    </div>
    <div>
        <input style="background: none;" type="file" (change)="uploadFile($event)" />

    </div>

    <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea type="text" [(ngModel)]="title" required></ion-textarea>
        <ion-icon slot="end" name="create-outline"></ion-icon>

    </ion-item>

    <ion-button shape="round" fill="outline" (click)="post()">Post</ion-button>
</ion-content>