<ion-header>
    <ion-toolbar>
        <ion-title> {{ firstname }}'s Profile</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-img [src]="imageurl"></ion-img>
    <h1 style="font-family: monospace; text-align: center;"> {{ firstname }} {{lastname}} </h1>
    <h3 *ngIf="isVerified == 'true'"> The User is verified</h3>
    <ion-button expand="block" (click)="onSendMessage()">
        <ion-icon slot="start" name="add"></ion-icon>
        Message Me!
    </ion-button>
</ion-content>