<ion-header>
    <ion-toolbar color="primary">
        <ion-title color="light">Channel</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showAddChannelDialog()">
                <ion-icon  color="light" slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row padding justify-content-left *ngFor="let channel of channelsList; let i=index">
            <ion-chip *ngIf=" i%2 !== 0" style="background-color: #fa6262;" (click)="goToChannel(channel)">
                <ion-label color="light" class="channel-name">#{{channel.name}}</ion-label>
            </ion-chip>
            <ion-chip *ngIf=" i%2 === 0 " (click)="goToChannel(channel)">
                <ion-label color="dark" class="channel-name">#{{channel.name}}</ion-label>
            </ion-chip>
        </ion-row>
    </ion-grid>
</ion-content>