<ion-header>
    <ion-toolbar color="primary">
        <ion-title color="light">Town Hall - {{townHallId}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/tabs/tab5"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>


    <!--  <ion-list>
        <ion-item *ngFor="let item of items |async">
            <ion-label> {{item.title}} </ion-label>
        </ion-item>
    </ion-list> -->

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card  class="ion-no-padding" *ngFor="let item of (items |async)?.slice().reverse()">
                    <ion-card-header color="primary">
                        <ion-col size="10" >
                            <ion-item color="primary" lines="none">
                                <ion-avatar>
                                    <ion-img [src]="item.userImage"></ion-img>
                                </ion-avatar>
                            <ion-label color="light">
                                <p  style="margin-left: 10px; font-weight: bold;" >{{item?.username}}</p>
                            </ion-label>
                            </ion-item>
                            <ion-text class="ion-text-center" color="light">
                                <h1> {{item?.title}} </h1>
                            </ion-text>
                        </ion-col>

                    </ion-card-header>
                    <ion-card-content class="ion-no-padding">

                        <ion-img style="width: auto; height: 250px;" [src]="item.imageUrl"></ion-img>
                        <ion-button   fill="clear" size="large"(click)="addLike(item, item.likes)">
                            LIKE  {{item?.likes}}
                            <!-- <ion-icon slot="start"  *ngIf="visible"  name="heart-outline"></ion-icon> 
                             <ion-icon slot="start" *ngIf="!visible" name="heart"></ion-icon>  -->
                        </ion-button>    
                      <!--   <ion-button fill="clear" size="large" *ngIf="visible" (click)="addLike(item.key, item.likes)">
                            <ion-icon slot="start" name="heart-outline"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" size="large" *ngIf="!visible" (click)="addDisLike(item.key, item.likes)">
                            <ion-icon slot="start" name="heart"></ion-icon>
                        </ion-button> -->
                        <ion-button fill="clear" size="large" (click)="addcomment(item.id)">
                            <ion-icon slot="start" name="chatbox-outline"></ion-icon>
                        </ion-button>
                        <ion-text class="ion-align-items-end">
                            {{item.published_at | date}}
                        </ion-text>
                    </ion-card-content>


                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="onOpenAddLayoutPage()">
            <ion-icon color="light" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>