<ion-header>
    <ion-toolbar color="primary">
        <ion-title color="light" >{{channelname}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/tabs/tab4"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let chat of channelMessages" no-lines>
            <div class="chat-bg">
                <div>
                    <h4 class="black-text" text-wrap>{{chat.username}} </h4>
                    <p class="black-text " text-wrap>{{chat.content}} </p>
                </div>


            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-input style="border: 2px solid #fa6262; border-radius: 40px;" placeholder="Type here..." type="text" [(ngModel)]="message"></ion-input>
        <ion-button slot="end" fill="clear" (click)="sendMessage()">
            <ion-icon color="primary" slot="icon-only" name="send"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-footer>