<ion-header>
    <ion-toolbar color="primary">
        <ion-title  color="light">
            Feed
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button color="light" menuId="m1" contentId="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-progress-bar type="indeterminate" color="tertiary" *ngIf="!loadedposts"></ion-progress-bar>

    <ion-grid *ngIf="loadedposts">
        <ion-row>
            <ion-col size="12">


<ion-card class="card" *ngFor="let item of (loadedposts |async)?.slice().reverse() let i = index" class="ion-no-margin" class="ion-no-padding">
    <ion-row>
        <ion-col size="10">
            <ion-item (click)="visitUserProfile(item.userkey)">
                <ion-avatar>
                    <ion-img [src]="item.userimage"></ion-img>
                </ion-avatar>
            <p (click)="visitUserProfile(item.userkey)"  style="margin-left: 10px; font-weight: bold;" color="dark">{{item?.username}}</p>
            <p> <ion-avatar *ngIf="item.userVerified === true">
                <img style="height: 20px; width:20px; margin-top: 23px; margin-left: 6px;" src="https://storage.googleapis.com/groundai-web-prod/media%2Fusers%2Fuser_213062%2Fproject_335137%2Fimages%2FFigs%2FFaceVer.png" />
            </ion-avatar></p>
            </ion-item>
        </ion-col>
        <ion-col size="2">
        <ion-button  (click)="presentActionSheet(item)" fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>        
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-img style="width: fit-content; height: 250px;" [src]="item.imageUrl"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <p><b>{{item?.username}}</b> {{ item?.title}} </p>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12">
               
            <br>
         
                    <ion-button   fill="clear" size="large"(click)="addLike(item, $event)">
                        LIKE  {{item?.likes}}
                
                    </ion-button>        
    
                <ion-button fill="clear" size="large" (click)="addcomment(item.key)">
                    <ion-icon style="float: right;" slot="start" name="chatbox-outline"></ion-icon>
                </ion-button>
    
            <p> {{item?.published_at |date}} </p>
        </ion-col>
    </ion-row>
</ion-card>

            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goToCreatePostPage()">
            <ion-icon color="light" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>