<ion-header>
    <ion-toolbar>
        <ion-title>Profile
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>

        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content class="ion-no-padding bodymain">
    <ion-progress-bar type="indeterminate" *ngIf="!isUserProfileLoaded"></ion-progress-bar>

    <ion-text *ngIf="isUserProfileLoaded" color="primary" class="ion-text-center">
        <h1 style="font-size: 30px;" class="app-name"> Hey! {{ user?.username }}</h1>
    </ion-text>
    <div id="bg"></div>
    <div *ngIf="isUserProfileLoaded">
        <div class="profile">
            <img [src]="user?.imageUrl">
            <img  *ngIf="user.isVerified === true" style="height: 20px; width:20px;" src="https://storage.googleapis.com/groundai-web-prod/media%2Fusers%2Fuser_213062%2Fproject_335137%2Fimages%2FFigs%2FFaceVer.png" />
           
            <div class="border"></div>
        </div>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    <div class="name">
                        <h3> {{ user?.firstname }} {{ user?.lastname }}</h3>
                       
                    </div>
                </ion-col>
                
            </ion-row>
        </ion-grid>
       
        
    
        <ion-text class="ion-text-center" style="font-family: monospace;" color="primary">
            <h5> {{user?.status}} </h5>
        </ion-text>


    </div>
    <ion-button style="margin-top: 50px;" lines="none" (click)="onEditProfile()" expand="block" fill="clear" shape="round">
        Edit Profile
    </ion-button>



</ion-content>

