<ion-header>
    <ion-toolbar>
        <ion-title>CLASHTASTIC PRIVACY POLICY</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/auth"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="clash-container">
        <h1 style="text-align: center">CLASHTASTIC PRIVACY POLICY</h1>
        <p style="text-align: center">Last updated and effective: February 23, 2020</p>

        <h2>WELCOME TO CLASHTASTIC!</h2>
        <p>Clashtastic provides a social online and mobile chat platform via the Clashtastic application (the “App”) and related Internet services (collectively, the “Service(s)”). The Service is operated by Clashtastic (the “Company”, “we” or “us”) for
            users of the Service (“you”). This Privacy Policy sets forth our policy with respect to information that is collected from visitors to the Site and users of the App and/or the Services. Under applicable law, Clashtastic. is the “data controller”
            of personal data collected through the Services.</p>

        <h2>INFORMATION WE COLLECT</h2>
        <p>When you interact with us through the Services, we may collect information from you, as further described below:</p>
        <p><b>Information You Provide:</b> We collect information from you when you voluntarily provide such information, such as when you register for access to the Services or use certain Services. Information we collect may include and limited to username,
            email address, and any messages, images, transient VOIP data (to enable communication delivery only) or other content you send via the chat feature.</p>

        <h2>OTHER INFORMATION:</h2>
        <ul>
            <li><b>Developers:</b> Developers using our SDK or API will have access to their end users’ information, including message content, message metadata, and voice metadata. Developers must use such information only to provide the SDK/API functionality
                within their applications and/or services</li>

            <li><b>Legal Requirements:</b> We may disclose your information if required to do so by law or in the good faith belief that such action is necessary to (i) comply with a legal obligation, (ii) protect and defend the rights or property of the
                Company or Related Companies, (iii) protect the personal safety of users of the Services or the public, or (iv) protect against legal liability.</li>

            <li><b>Aggregated or Non-identifiable Data:</b> We may also share aggregated or non-personally identifiable information with our partners or others for business purposes.</li>
        </ul>

        <h2>Your Data rights and choice:</h2>
        <ul>
            <li><b>How do I correct, update, amend, or delete the personal data you have about me?</b></li>

            <p>In addition to the functionality available through the “Settings” of the Services, in which you can correct, update, amend, or delete certain personal data, you can also request other modifications from us directly. For your protection, we
                may take steps to verify identity before responding to your request.</p>
        </ul>

        <h2>CHANGES TO THIS PRIVACY POLICY</h2>

        <p>We reserve the right to update or modify this Privacy Policy at any time and from time to time without prior notice. Please review this policy periodically, and especially before you provide any information. This Privacy Policy was last updated
            on the date indicated above. Your continued use of the Services after any changes or revisions to this Privacy Policy shall indicate your agreement with the terms of such revised Privacy Policy.</p>

        <h2>CONTACTING US</h2>

        <p>Please also feel free to contact us if you have any questions about this Privacy Policy or the information practices of the Services. </p>
    </div>


</ion-content>